* {
    background-color: lightcyan;
    
}

body {
  display: block;
}

#mainHeader {
  font-style: bold;
    width: auto;
    height: 75px;
    padding:10px;
  border:30px dashed pink;

}
  
  
nav {
    float: left;
    padding: 30px;
    border: 30px solid peachpuff;
    width: 200px;
    margin: 100px;
  }

div {
  column-count: 3; column-rule: 15px solid darkblue;
  
  }
  
footer {
    
    padding: 5px;
    border:auto;
    width: 100%;
}

.grid-container {
  display:grid;
grid-template-columns: auto auto auto auto;
background-color: #2196f3;
padding: 10px;
border: 20px solid black;

}
.grid-item {
  padding:5px;
  border: 5px solid blue;
  font-size: 30px;
  text-align: center;

}